<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0d1d4d94-e549-4fa5-b4bf-d2d8f0c32711" Alias="briefHistory" Level="1">
  <Info>
    <Name>BriefHistory</Name>
    <Icon>icon-document-dashed-line color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This Page Use Block Grid</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>BriefHistory</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c5fd1fa1-423c-4bf4-a1dd-a13e4c5dc736">BriefHistory</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7f10f890-2b83-4e14-b50b-31797228f034</Key>
      <Name>Body</Name>
      <Alias>body</Alias>
      <Definition>0b48e603-41dc-469e-b1bf-531de6c50165</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="details">Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a5fafc74-6a9a-44ab-8293-36f9accc1a70</Key>
      <Caption>Details</Caption>
      <Alias>details</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>