<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fad32285-d249-410f-a6c6-d5d55ff12481" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="64890801-4f84-4e63-9b3a-ffb4178cbd56">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6095a51e-87b6-4458-b8c7-cdea4b4de741" SortOrder="0">login</ContentType>
    <ContentType Key="2c4e89a9-757e-4b2c-be09-7aa4d0767499" SortOrder="1">registration</ContentType>
    <ContentType Key="f32a9e7f-631c-458b-8187-6754329a17f5" SortOrder="2">events</ContentType>
    <ContentType Key="e098c0e1-6beb-490e-add0-a316574f173a" SortOrder="3">about</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>