<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="97297a03-752a-43c9-9043-2cc650881d94" Alias="introduction" Level="1">
  <Info>
    <Name>Introduction</Name>
    <Icon>icon-block color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This Page Used To Apply on Block Editor Topics</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Introduction</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b67bb0d0-9455-4827-9ac1-314a8c01b7fe">Introduction</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>91c00dd0-6da5-4f1d-9e17-484d54d0851f</Key>
      <Name>Body</Name>
      <Alias>body</Alias>
      <Definition>28fc3f15-6bff-4b9f-a0fc-d729f3ecddbb</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ed43cb22-e5bd-447f-a19e-4b8b468ec2b8</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>