<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2c4e89a9-757e-4b2c-be09-7aa4d0767499" Alias="registration" Level="1">
  <Info>
    <Name>Registration</Name>
    <Icon>icon-user color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Registration</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fa97b2ec-e963-4a15-b7ff-e2d64e03b6e5">Registration</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>