<div ng-controller="My.PasswordEditorController as vm">
    <div class="password-editor">
        <input type="password"
               ng-model="model.value"
               class="umb-property-editor umb-textstring"
               ng-class="{'password-visible': vm.showPassword}" />

        <button type="button"
                class="btn btn-link"
                ng-click="vm.togglePasswordVisibility()">
            <i class="icon" ng-class="vm.showPassword ? 'icon-eye' : 'icon-eye-blocked'"></i>
            {{vm.showPassword ? 'Hide' : 'Show'}}
        </button>

        <div class="password-strength" ng-if="model.value">
            <div class="strength-meter" ng-class="vm.passwordStrength"></div>
            <small>Password strength: {{vm.passwordStrength}}</small>
        </div>
    </div>
</div>