@{
    Brief brief = (Brief)Model;
}

<div class="card shadow-sm" style="max-width: 400px;">
    <div class="card-body">
        <h5 class="card-title fw-bold">@brief.Title</h5>
        <p class="card-text text-muted">
            @brief.Description
        </p>
    </div>
</div>
