<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5143438a-ce57-47c2-abca-20a50ec359d0" Alias="Landing - Show Routers - Toggle" Level="1">
  <Info>
    <Name>Landing - Show Routers - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>