<?xml version="1.0" encoding="utf-8"?>
<DataType Key="49e37257-638d-4542-84d9-399812a533b4" Alias="Login - Password - Password Editor" Level="1">
  <Info>
    <Name>Login - Password - Password Editor</Name>
    <EditorAlias>My.PasswordEditor</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>