<?xml version="1.0" encoding="utf-8"?>
<DataType Key="353bfcc4-b50d-4b09-8ee3-57ada339ac56" Alias="Register - Password - Password Editor" Level="1">
  <Info>
    <Name>Register - Password - Password Editor</Name>
    <EditorAlias>My.PasswordEditor</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>