<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c20819f-cf09-448b-b772-8573e0d3aab5" Alias="Ashim D Silva Pgcqw1argyg Unsplash" Level="2">
  <Info>
    <Parent Key="31e1d53b-3a94-484c-bf6f-97b6c5c1177a">PhotoGallary</Parent>
    <Path>/PhotoGallary/AshimDSilvaPgcqw1argygUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-06T16:39:07</CreateDate>
    <NodeName Default="Ashim D Silva Pgcqw1argyg Unsplash" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tgadadaj/ashim-d-silva-pgcqw1argyg-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>