<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae6d92b8-4ffe-4101-99fb-b5b33f5313c6" Alias="John Mcarthur X Mor6oa4 K Unsplash" Level="2">
  <Info>
    <Parent Key="31e1d53b-3a94-484c-bf6f-97b6c5c1177a">PhotoGallary</Parent>
    <Path>/PhotoGallary/JohnMcarthurXMor6oa4KUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-06T16:39:07</CreateDate>
    <NodeName Default="John Mcarthur X Mor6oa4 K Unsplash" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/x0jg1lx4/john-mcarthur-x_mor6oa4-k-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>