<?xml version="1.0" encoding="utf-8"?>
<Media Key="142857a5-8e56-45be-be8c-3dcc127a8c3d" Alias="Nordwood Themes Krnzigktz48 Unsplash" Level="2">
  <Info>
    <Parent Key="31e1d53b-3a94-484c-bf6f-97b6c5c1177a">PhotoGallary</Parent>
    <Path>/PhotoGallary/NordwoodThemesKrnzigktz48Unsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-06T16:44:04</CreateDate>
    <NodeName Default="Nordwood Themes Krnzigktz48 Unsplash" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/unldqfcw/nordwood-themes-krnzigktz48-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>