<?xml version="1.0" encoding="utf-8"?>
<Media Key="31e1d53b-3a94-484c-bf6f-97b6c5c1177a" Alias="PhotoGallary" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PhotoGallary</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-05-06T16:38:51</CreateDate>
    <NodeName Default="PhotoGallary" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>