<?xml version="1.0" encoding="utf-8"?>
<Media Key="d51c751f-ca39-4013-973f-8117954bd22e" Alias="VideoGallary" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/VideoGallary</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-05-05T14:56:39</CreateDate>
    <NodeName Default="VideoGallary" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>