<?xml version="1.0" encoding="utf-8"?>
<Content Key="80001ae5-3b39-4ead-91c9-9a1c521e35cd" Alias="Art Expo_v1" Level="3">
  <Info>
    <Parent Key="b9454676-4822-4c1b-80b0-e5c6e5eaf094">HomePageEvents</Parent>
    <Path>/HomePage/HomePageEvents/ArtExpo_v1</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2025-04-29T09:29:55</CreateDate>
    <NodeName Default="Art Expo_v1" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Explore amazing art from around the world.]]></Value>
    </description>
    <image>
      <Value><![CDATA[https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&auto=format&fit=crop&w=800&q=60]]></Value>
    </image>
    <title>
      <Value><![CDATA[Art Expo]]></Value>
    </title>
  </Properties>
</Content>