<?xml version="1.0" encoding="utf-8"?>
<Content Key="902b5f46-02c8-4048-9d55-57d8563727a1" Alias="Conference Event_1" Level="2">
  <Info>
    <Parent Key="bd2caa4a-09f2-4156-81fd-c0ad03a83e35">EventsPage</Parent>
    <Path>/EventsPage/ConferenceEvent_1</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2025-05-04T10:07:25</CreateDate>
    <NodeName Default="Conference Event_1" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[This is a conference event]]></Value>
    </description>
    <image>
      <Value><![CDATA[https://images.unsplash.com/photo-1511578314322-379afb476865?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGV2ZW50fGVufDB8fDB8fHww]]></Value>
    </image>
    <title>
      <Value><![CDATA[Conference Event]]></Value>
    </title>
  </Properties>
</Content>