<?xml version="1.0" encoding="utf-8"?>
<Content Key="a7d87917-e060-4cc4-95a1-8c2f6c18b4b3" Alias="Cyber Truck Exploration_v1" Level="3">
  <Info>
    <Parent Key="b9454676-4822-4c1b-80b0-e5c6e5eaf094">HomePageEvents</Parent>
    <Path>/HomePage/HomePageEvents/CyberTruckExploration_v1</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2025-04-29T09:54:49</CreateDate>
    <NodeName Default="Cyber Truck Exploration_v1" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Explore amazing tesla car around the world.]]></Value>
    </description>
    <image>
      <Value><![CDATA[https://images.unsplash.com/photo-1716304960614-67625112f271?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D]]></Value>
    </image>
    <title>
      <Value><![CDATA[Cyber Truck Exploration]]></Value>
    </title>
  </Properties>
</Content>