<?xml version="1.0" encoding="utf-8"?>
<Content Key="bd2caa4a-09f2-4156-81fd-c0ad03a83e35" Alias="EventsPage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EventsPage</Path>
    <Trashed>false</Trashed>
    <ContentType>events</ContentType>
    <CreateDate>2025-05-04T09:58:57</CreateDate>
    <NodeName Default="EventsPage" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>