<?xml version="1.0" encoding="utf-8"?>
<Content Key="aef92e40-4678-4bbd-8d77-20889d0ecf76" Alias="Fruits Event_v1" Level="2">
  <Info>
    <Parent Key="bd2caa4a-09f2-4156-81fd-c0ad03a83e35">EventsPage</Parent>
    <Path>/EventsPage/FruitsEvent_v1</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2025-05-04T10:11:12</CreateDate>
    <NodeName Default="Fruits Event_v1" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[This is a fruit event.]]></Value>
    </description>
    <image>
      <Value><![CDATA[https://images.unsplash.com/photo-1488459716781-31db52582fe9?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8ZnJ1aXRzfGVufDB8fDB8fHww]]></Value>
    </image>
    <title>
      <Value><![CDATA[Fruits Event]]></Value>
    </title>
  </Properties>
</Content>