<?xml version="1.0" encoding="utf-8"?>
<Content Key="00aab089-2ff0-4c73-9a3b-0c7a149e9ee8" Alias="HistoryPage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HistoryPage</Path>
    <Trashed>false</Trashed>
    <ContentType>briefHistory</ContentType>
    <CreateDate>2025-05-07T18:53:15</CreateDate>
    <NodeName Default="HistoryPage" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c5fd1fa1-423c-4bf4-a1dd-a13e4c5dc736">BriefHistory</Template>
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 5,
        "rowSpan": 1,
        "contentUdi": "umb://element/d60c440b3dd448af8eefd6c8f3a275d0"
      },
      {
        "contentUdi": "umb://element/dbf1029c22df44609c474869f7ef2219",
        "areas": [],
        "columnSpan": 5,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/84b6b6f65dc94f8a8747ae0bf344ea7f",
        "areas": [],
        "columnSpan": 3,
        "rowSpan": 1
      },
      {
        "areas": [],
        "columnSpan": 3,
        "rowSpan": 1,
        "contentUdi": "umb://element/07c987cfdf6643f5b51dfaecdeb41e6f"
      },
      {
        "contentUdi": "umb://element/712961a611e048669cbf6c188c2e5670",
        "areas": [],
        "columnSpan": 4,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/70a738044f294349ac75f886600c5b9c",
        "areas": [],
        "columnSpan": 4,
        "rowSpan": 1
      },
      {
        "areas": [],
        "columnSpan": 5,
        "rowSpan": 1,
        "contentUdi": "umb://element/448b13b4a7f04654bc48cc0e6022440e"
      },
      {
        "areas": [],
        "columnSpan": 5,
        "rowSpan": 1,
        "contentUdi": "umb://element/22cc74f2a826470aaa4da7b9c4b82e47"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "edb7f9c1-6143-483a-927d-f779c5f82ffb",
      "description": "This Event Portal Is Used To Apply Umbraco Topics",
      "title": "About Event Portal",
      "udi": "umb://element/dbf1029c22df44609c474869f7ef2219"
    },
    {
      "contentTypeKey": "f3d16907-96be-4b23-aaf1-5e75e83a00da",
      "image": [
        {
          "key": "42ea3e17-2fc6-439a-8ff7-dc9c5050479a",
          "mediaKey": "0c20819f-cf09-448b-b772-8573e0d3aab5"
        }
      ],
      "title": "First Project",
      "udi": "umb://element/70a738044f294349ac75f886600c5b9c"
    },
    {
      "contentTypeKey": "f3d16907-96be-4b23-aaf1-5e75e83a00da",
      "image": [
        {
          "key": "c7342830-2bef-4879-840f-9b3955aed3c6",
          "mediaKey": "ae6d92b8-4ffe-4101-99fb-b5b33f5313c6"
        }
      ],
      "title": "Second Project",
      "udi": "umb://element/712961a611e048669cbf6c188c2e5670"
    },
    {
      "contentTypeKey": "037811ba-6ded-4194-b63b-40ffdb37c62b",
      "description": "This Service Presented By Event Portal",
      "image": [
        {
          "key": "f53150ad-82ad-443d-a597-210560754d7b",
          "mediaKey": "ff809af5-96df-4773-9189-0c661630ce03"
        }
      ],
      "title": "Service 1",
      "udi": "umb://element/84b6b6f65dc94f8a8747ae0bf344ea7f"
    },
    {
      "contentTypeKey": "edb7f9c1-6143-483a-927d-f779c5f82ffb",
      "description": "This Event Portal Is Used To Apply Umbraco Topics",
      "title": "About Event Portal",
      "udi": "umb://element/448b13b4a7f04654bc48cc0e6022440e"
    },
    {
      "contentTypeKey": "edb7f9c1-6143-483a-927d-f779c5f82ffb",
      "description": "This Event Portal Is Used To Apply Umbraco Topics",
      "title": "About Event Portal",
      "udi": "umb://element/22cc74f2a826470aaa4da7b9c4b82e47"
    },
    {
      "contentTypeKey": "edb7f9c1-6143-483a-927d-f779c5f82ffb",
      "description": "This Event Portal Is Used To Apply Umbraco Topics",
      "title": "About Event Portal",
      "udi": "umb://element/d60c440b3dd448af8eefd6c8f3a275d0"
    },
    {
      "contentTypeKey": "037811ba-6ded-4194-b63b-40ffdb37c62b",
      "description": "This Service Presented By Event Portal",
      "image": [
        {
          "key": "f53150ad-82ad-443d-a597-210560754d7b",
          "mediaKey": "ff809af5-96df-4773-9189-0c661630ce03"
        }
      ],
      "title": "Service 1",
      "udi": "umb://element/07c987cfdf6643f5b51dfaecdeb41e6f"
    }
  ],
  "settingsData": []
}]]></Value>
    </body>
  </Properties>
</Content>