<?xml version="1.0" encoding="utf-8"?>
<Content Key="b9454676-4822-4c1b-80b0-e5c6e5eaf094" Alias="HomePageEvents" Level="2">
  <Info>
    <Parent Key="833e7f2b-396c-4e21-8801-57e9edb0377c">HomePage</Parent>
    <Path>/HomePage/HomePageEvents</Path>
    <Trashed>false</Trashed>
    <ContentType>events</ContentType>
    <CreateDate>2025-04-29T09:26:35</CreateDate>
    <NodeName Default="HomePageEvents" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>