<?xml version="1.0" encoding="utf-8"?>
<Content Key="833e7f2b-396c-4e21-8801-57e9edb0377c" Alias="HomePage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-04-28T06:50:28</CreateDate>
    <NodeName Default="HomePage" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="64890801-4f84-4e63-9b3a-ffb4178cbd56">Home</Template>
  </Info>
  <Properties />
</Content>