<?xml version="1.0" encoding="utf-8"?>
<Content Key="1612f644-d973-41f2-884b-4c52b3da92e3" Alias="IntroductionPage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IntroductionPage</Path>
    <Trashed>false</Trashed>
    <ContentType>introduction</ContentType>
    <CreateDate>2025-05-06T16:20:22</CreateDate>
    <NodeName Default="IntroductionPage" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b67bb0d0-9455-4827-9ac1-314a8c01b7fe">Introduction</Template>
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/313e628e826346f2b1506c38eff1ad5e"
      },
      {
        "contentUdi": "umb://element/84d91dee87814b93890a9b3f807eed5d"
      },
      {
        "contentUdi": "umb://element/4a56e43366a04dfd80de45a9c6516dd5"
      },
      {
        "contentUdi": "umb://element/66a1ed2605c944c88d476b7bde06119e"
      },
      {
        "contentUdi": "umb://element/29f7836e60a844a68018a7b6ba8fc990"
      },
      {
        "contentUdi": "umb://element/721180cf1ba04ac690ffcfaf9f6f2056"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f3d16907-96be-4b23-aaf1-5e75e83a00da",
      "image": [
        {
          "key": "5bd47b06-cef2-4d46-863f-fbe5ee0e1271",
          "mediaKey": "ae6d92b8-4ffe-4101-99fb-b5b33f5313c6"
        }
      ],
      "title": "Egypt Event",
      "udi": "umb://element/4a56e43366a04dfd80de45a9c6516dd5"
    },
    {
      "contentTypeKey": "f3d16907-96be-4b23-aaf1-5e75e83a00da",
      "image": [
        {
          "key": "aeaa09a9-02b3-4a25-a57d-00105b27ef70",
          "mediaKey": "0c20819f-cf09-448b-b772-8573e0d3aab5"
        }
      ],
      "title": "England Event",
      "udi": "umb://element/84d91dee87814b93890a9b3f807eed5d"
    },
    {
      "contentTypeKey": "f3d16907-96be-4b23-aaf1-5e75e83a00da",
      "image": [
        {
          "key": "d46f6d80-ac3c-4f74-92cb-1b3432e331d2",
          "mediaKey": "a7581e60-81a8-4d3d-835c-c68fa670fc57"
        }
      ],
      "title": "United State Event",
      "udi": "umb://element/313e628e826346f2b1506c38eff1ad5e"
    },
    {
      "contentTypeKey": "edb7f9c1-6143-483a-927d-f779c5f82ffb",
      "description": "This is a brief about running and active events in different places",
      "title": "Brief Section",
      "udi": "umb://element/66a1ed2605c944c88d476b7bde06119e"
    },
    {
      "contentTypeKey": "037811ba-6ded-4194-b63b-40ffdb37c62b",
      "description": "Description about service 1",
      "image": [
        {
          "key": "f9dbe7fc-d98a-434a-b394-9b379cf9a2f4",
          "mediaKey": "ff809af5-96df-4773-9189-0c661630ce03"
        }
      ],
      "title": "Service 1",
      "udi": "umb://element/721180cf1ba04ac690ffcfaf9f6f2056"
    },
    {
      "contentTypeKey": "037811ba-6ded-4194-b63b-40ffdb37c62b",
      "description": "Description about service 2",
      "image": [
        {
          "key": "e1e39836-c80d-4b9c-bbaf-220edbd1b981",
          "mediaKey": "142857a5-8e56-45be-be8c-3dcc127a8c3d"
        }
      ],
      "title": "Service 2",
      "udi": "umb://element/29f7836e60a844a68018a7b6ba8fc990"
    }
  ],
  "settingsData": []
}]]></Value>
    </body>
  </Properties>
</Content>