<?xml version="1.0" encoding="utf-8"?>
<Content Key="befdf920-d990-4f0a-80bd-cc31ded2d5d8" Alias="LandingPage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LandingPage</Path>
    <Trashed>false</Trashed>
    <ContentType>landing</ContentType>
    <CreateDate>2025-05-05T11:37:12</CreateDate>
    <NodeName Default="LandingPage" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0b0a2b8d-3fca-469c-a484-cff6332277fc">Landing</Template>
  </Info>
  <Properties>
    <actualRunningEvent>
      <Value><![CDATA[umb://document/7d7cbdcfdcdb42dcb41a6e6a04ed772f]]></Value>
    </actualRunningEvent>
    <brief>
      <Value><![CDATA[{
  "markup": "<p style=\"text-align: center;\"><strong>Land Page Brief</strong></p>\n<p style=\"text-align: center;\">This is a brief about landing page and some info about this</p>\n<p style=\"text-align: center;\">Has Info</p>\n<p style=\"text-align: center;\">Easy To Deal With</p>\n<p style=\"text-align: center;\">Has Responsive Page</p>\n<p style=\"text-align: center;\">&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </brief>
    <featuredEvents>
      <Value><![CDATA[umb://document/607a1b63bfe541b0b91e3e919413bf3e,umb://document/ba43220e22c34067a453226fb654a1c6,umb://document/f758b156747440c28c26065a509046b7]]></Value>
    </featuredEvents>
    <headerImage>
      <Value><![CDATA[{
  "src": "/media/c1zd0243/stem-list-evgsabl51rk-unsplash.jpg",
  "crops": [
    {
      "alias": "Bannar",
      "coordinates": {
        "x1": 0,
        "y1": 0.4315751649000672,
        "x2": 0,
        "y2": 0.13224143980873082
      }
    }
  ]
}]]></Value>
    </headerImage>
    <introVideo>
      <Value><![CDATA[[
  {
    "key": "52ce76de-47ac-4df1-8995-816775c390ed",
    "mediaKey": "4fe4ab0a-beb4-4828-bf78-e7a698ed9537"
  }
]]]></Value>
    </introVideo>
    <routers>
      <Value><![CDATA[[
  {
    "name": "Car Event",
    "target": "_blank",
    "url": "https://www.carevents.com/"
  },
  {
    "name": "Home",
    "target": "_blank",
    "udi": "umb://document/833e7f2b396c4e21880157e9edb0377c"
  },
  {
    "name": "Media Event",
    "target": "_blank",
    "udi": "umb://media/4fe4ab0abeb44828bf78e7a698ed9537"
  }
]]]></Value>
    </routers>
    <showRouters>
      <Value><![CDATA[1]]></Value>
    </showRouters>
  </Properties>
</Content>