<?xml version="1.0" encoding="utf-8"?>
<Content Key="fa71ace7-6340-4389-aa56-34e2f09e09d8" Alias="LoginPage" Level="2">
  <Info>
    <Parent Key="833e7f2b-396c-4e21-8801-57e9edb0377c">HomePage</Parent>
    <Path>/HomePage/LoginPage</Path>
    <Trashed>false</Trashed>
    <ContentType>login</ContentType>
    <CreateDate>2025-04-28T07:17:53</CreateDate>
    <NodeName Default="LoginPage" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a70bcb08-efdd-442c-8de3-00580231fd9f">Login</Template>
  </Info>
  <Properties />
</Content>