<?xml version="1.0" encoding="utf-8"?>
<Content Key="1d41d717-44c5-4f0c-99d0-49d57f31463f" Alias="Medical Event_v1" Level="3">
  <Info>
    <Parent Key="b9454676-4822-4c1b-80b0-e5c6e5eaf094">HomePageEvents</Parent>
    <Path>/HomePage/HomePageEvents/MedicalEvent_v1</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2025-04-29T09:27:49</CreateDate>
    <NodeName Default="Medical Event_v1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Join the biggest Medical Event in town!]]></Value>
    </description>
    <image>
      <Value><![CDATA[https://images.unsplash.com/photo-1631507623121-eaaba8d4e7dc?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D]]></Value>
    </image>
    <title>
      <Value><![CDATA[Medical Event]]></Value>
    </title>
  </Properties>
</Content>