<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb3b0be7-263d-4fb4-9108-c47127c41469" Alias="RegistrationPage" Level="2">
  <Info>
    <Parent Key="833e7f2b-396c-4e21-8801-57e9edb0377c">HomePage</Parent>
    <Path>/HomePage/RegistrationPage</Path>
    <Trashed>false</Trashed>
    <ContentType>registration</ContentType>
    <CreateDate>2025-04-28T07:17:36</CreateDate>
    <NodeName Default="RegistrationPage" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fa97b2ec-e963-4a15-b7ff-e2d64e03b6e5">Registration</Template>
  </Info>
  <Properties />
</Content>